

#rc-editable-input-2 {
    background-color: #fff !important;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    color: #000 !important;
}

.chrome-picker {
    width: 100% !important;
}

.chrome-picker label {
    color: #000 !important;
}